*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.container {
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
.container h1,p {
    text-align: center;
}
p {
    font-size: 17px;
}
h1 {
    font-size: 40px;
}
input,textarea {
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 4px;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn {
    color: white;
    background-color: purple;
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.bg {
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
.submitMsg {
    font-size: 22px;
    color: green;
}